/*
* @Created by: Abhishek Ashinsa
* @Date: 06/09/2022
* @Project: My-Portfolio
* */

.footer {
    left: 0;
    top: 980vh;
    position: absolute;
    width: 99vw;
    height: 90vh;
    margin: 0;
}

.footer>section:nth-child(1) {
    position: absolute;
    width: 100%;
    height: 200px;
    /*border: 1px solid red;*/
    background-color: #010a23;
    top: 120px;
    left: 0;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.footer>section:nth-child(1)>div {
    width: 100%;
    height: 80%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    /*border: 1px solid white;*/
    background-color: #010a23;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.89);
}

.footer>section:nth-child(1)>div>i {
    color: white;
    font-size: 80px;
    margin-left: 30px;
    margin-top: 30px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 8px;
}

.footer>section:nth-child(1)>div:nth-child(1)>h1,.footer>section:nth-child(1)>div:nth-child(2)>h1 {
    margin-left: 140px;
    color: white;
    margin-top: -100px;
    font-family: 'Nunito', sans-serif;
}
.footer>section:nth-child(1)>div:nth-child(3)>h1 {
    color: white;
    margin-top: -100px;
    margin-left: 170px;
    font-family: 'Nunito', sans-serif;
}

.footer>section:nth-child(1)>div:nth-child(1)>p,.footer>section:nth-child(1)>div:nth-child(2)>p {
    margin-left: 140px;
}

.footer>section:nth-child(1)>div>p {
    font-size: 20px;
    margin-top: -17px;
    margin-left: 170px;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.footer>div:nth-child(2) {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    font-size: 30px;
    padding-left: 38vw;
    padding-right: 38vw;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 2px solid #1f1813;
    background-image: linear-gradient(#6CD0FF,#1C2E4C);
    background-blend-mode: exclusion;
}

.footer>div:nth-child(2)>h1 {
    margin: 0;
}