/*
* @Created by: Abhishek Ashinsa
* @Date: 23/08/2022
* @Project: My-Portfolio
* */


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #e04f3b;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(246, 24, 33, 0.85);
}

header {
    top: 0;
    height: 100vh;
}

header>div {
    background: black;
    top: 0;
    left: 0;
    box-shadow: 0px -1px 8px 2px rgba(28, 23, 23, 0.91);
    position: fixed;
    width: 100vw;
    height: 75px;
    z-index: 3;
}

header>section:nth-child(1) {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

header>section:nth-child(1) {
    height: 100vh;
    width: 100vw;
}

header>section:nth-child(2)>video {
    width: 100vw;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 15px;
    padding-bottom: 10px;
    background-color: rgba(59, 59, 59, 0.22);
}

header>div>img {
    width: 200px;
    height: 50px;
    left: 8px;
    top: 10px;
    margin: auto;
    position: relative;
}

header>div>nav {
    position: absolute;
    right: 40px;
    top: 0;
}

header>div>nav>ul>li {
    display: inline-block;
    cursor: pointer;
    list-style: none;
    padding: 15px;
    border-left: 1px solid #bdbdbd;
    transition: 0.5s;
}
header>div>nav>ul>li:hover{
    border: 1px solid red;
    color: #ff253a;
}
header>div>nav>ul>li>a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.96);
    font-size: 20px;
    transition: 0.5s;
}

header>div>nav>ul>li>a:hover {
    font-size: 21px;
    color: #ff253a;
}

header>div>nav>ul>li:nth-child(8) {
    border-right: 1px solid #bdbdbd;
}

header>section:nth-child(3){
    position: absolute;
    left: 0;
    width: 99.1vw;
    height: 100vh;
}

header>section:first-of-type>section:first-of-type{
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 50px;
    z-index: 1;
}

header>section:first-of-type>section:first-of-type>p:nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-top: 100px;
    margin-left: 60px;
    color: white;
    font-weight: 600;
}

header>section:first-of-type>section:first-of-type>p:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    border: 0;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    font-weight: 600;
}

#ashinsa {
    color: #ff253a;
}

header>section:first-of-type>section:first-of-type>p:nth-child(3) {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 0;
    margin-left: 60px;
    color: white;
    font-weight: 600;
}

header>section:first-of-type>section:first-of-type>p:nth-child(4) {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    border: 0;
    margin-top: 5px;
    margin-left: 60px;
    color: white;
    font-weight: 600;
}

.hire-btn{
    font-family: 'Poppins', sans-serif;
    width: 150px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 25px;
    margin-left: 150px;
    padding: 12px 34px;
    font-size: 23px;
    background: transparent;
    cursor: pointer;
    text-align: center;
    transition: 1s;
}
.hire-btn:hover{
    border: 3px solid #f44336;
    background: #f44336;
    transition: 1s;
}

header>section:first-of-type>section:nth-child(3) {
    position: absolute;
    width: 400px;
    height: 100px;
    bottom: 50px;
    right: 200px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

header>section:first-of-type>section:last-of-type>a>div {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.76);
    transition: 0.5s;
}

header>section:first-of-type>section:last-of-type>a>div:hover{
    transform: rotate(1grad) skewY(1grad) translate(20px, -15px);
    box-shadow: -30px 5px 10px rgba(0, 0, 0, 0.89);
}

header>section:first-of-type>section:nth-child(3)>a:nth-child(1)>div {
    background-size: cover;
    justify-content: space-between;
    background-position: center;
    background-image: url("../assets/icons/icons8-linkedin-circled-96.png");
}

header>section:first-of-type>section:nth-child(3)>a:nth-child(2)>div {
    background-size: cover;
    justify-content: space-between;
    background-position: center;
    background-image: url("../assets/icons/icons8-facebook-96.png");
}

header>section:first-of-type>section:nth-child(3)>a:nth-child(3)>div {
    background-size: cover;
    justify-content: space-between;
    background-position: center;
    background-image: url("../assets/icons/icons8-instagram-96.png");
}

header>section:first-of-type>section:nth-child(3)>a:nth-child(4)>div {
    background-size: cover;
    justify-content: space-between;
    background-position: center;
    background-image: url("../assets/icons/icons8-github-96.png");
}

.chatbot {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: #015a11;
    border-radius: 100%;
    z-index: 1;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.89);
    cursor: pointer;
    transition: 0.5s;
}

.chatbot:hover {
    width: 85px;
    height: 85px;
}

.chatimg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.5s;
}

.chatimg:hover {
    transform: rotate(6.3rad);
}

/*--------------------About Me---------------------------*/

main>section:nth-child(1) {
    left: 0;
    position: absolute;
    width: 99vw;
    height: 500px;
    margin: 0;
    /*border: 1px solid red;*/
}

main>section:nth-child(1)>div:nth-child(1) {
    position: absolute;
    width: 20px;
    height: 60px;
    background-color: #f44336;
}

main>section:nth-child(1)>div:nth-child(2) {
    position: absolute;
    left: 40px;
    width: 10px;
    height: 60px;
    background-color: #f44336;
}

main>section:nth-child(1)>div:nth-child(3) {
    width: 99vw;
    height: 60px;
    background: linear-gradient(rgba(97, 97, 97, 0.68),#232323);
}

main>section:nth-child(1)>div:nth-child(3)>p{
    top: 0;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    color: white;
    padding-left: 80px;
}

.about-me {
    color: #ff5f20;
    font-size: 55px;
}

main>section:nth-child(1)>section:first-of-type {
    position: absolute;
    height: 400px;
    width: 85%;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(26, 26, 26, 0.95);
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.89);
    border: 1px solid #0029fa;
}

main>section:nth-child(1)>section:first-of-type>p:first-of-type {
    margin: 0;
    position: absolute;
    font-size: 40px;
    color: white;
    font-weight: 600;
    /*font-family: 'Kaushan Script', cursive;*/
    font-family: 'Orbitron', sans-serif;
    /*font-family: 'Edu TAS Beginner', cursive;*/
    top: 10px;
    left: 10px;
}

main>section:nth-child(1)>section:first-of-type>div:first-of-type {
    font-family: 'Edu TAS Beginner', cursive;
    width: 70%;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 30%;
    left: 5%;
    line-height: 50px;
}

main>section:nth-child(1)>section:first-of-type>div:nth-child(5) {
    position: absolute;
    font-size: 22px;
    right: 50px;
    bottom: 80px;
    color: white;
    font-weight: 500;
}

.download-cv {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 250px;
    height: 50px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.89);
    transition: 0.5s;
    transition-property: width,height,border;
}

.download-cv:hover {
    transition-property: width,height,border;
    border-color: #f44336;
    width: 252px;
    height: 52px;
}

main>section:nth-child(1)>section:first-of-type>div:nth-child(6)>a:first-of-type>div {
    height: 50px;
    width: 190px;
    border-right: 1px solid white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

main>section:nth-child(1)>section:first-of-type>div:nth-child(6)>a:first-of-type>div>img {
    height: 50px;
    width: 190px;
    left: 0;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

main>section:nth-child(1)>section:first-of-type>div:nth-child(6)>a:nth-child(2)>div {
    height: 50px;
    width: 60px;
    right: 0;
    top: 0;
    position: absolute;
    background: #f44336;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

main>section:nth-child(1)>section:first-of-type>div:nth-child(6)>a:nth-child(2)>div>img {
    height: 50px;
    width: 60px;
}

/*----------------SERVICES-------------------*/

main>section:nth-child(2) {
    left: 0;
    top: 190vh;
    position: absolute;
    width: 99vw;
    height: 500px;
    margin: 0;
    /*border: 1px solid red;*/

}

main>section:nth-child(2)>div:nth-child(1) {
    position: absolute;
    width: 20px;
    height: 60px;
    background-color: #f44336;
}

main>section:nth-child(2)>div:nth-child(2) {
    position: absolute;
    left: 40px;
    width: 10px;
    height: 60px;
    background-color: #f44336;
}

main>section:nth-child(2)>div:nth-child(3) {
    width: 99vw;
    height: 60px;
    background: linear-gradient(rgba(97, 97, 97, 0.68),#232323);
}

main>section:nth-child(2)>div:nth-child(3)>p{
    top: 0;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    color: white;
    padding-left: 80px;
}

.services {
    color: #ff5f20;
    font-size: 55px;
}

main>section:nth-child(2)>section:first-of-type>div {
    width: 400px;
    height: 300px;
    position: absolute;
    border: 1px solid #0029fa;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.89);
    background-color: rgba(26, 26, 26, 0.95);
    transition: 0.5s;
    transition-property: background-color,color,border,box-shadow;
}

main>section:nth-child(2)>section:first-of-type>div:hover {
    background-color: #012445;
    border-top: 5px solid #f44336;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.89);
    transition-property: box-shadow,background-color,border;
    color: #f44336;
}

main>section:nth-child(2)>section:first-of-type>div:nth-child(1) {
    top: 125px;
    left: 40px;
}

main>section:nth-child(2)>section:first-of-type>div>div:nth-child(1) {
    position: absolute;
    top: 25px;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.18);
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    transform: rotate(95rad);
    background-position: center;
}

/*main>section:nth-child(2)>section:first-of-type>div>div:first-of-type>div {*/
/*    width: fit-content;*/
/*    height: fit-content;*/
/*    transform: rotate(0rad);*/
/*}*/

main>section:nth-child(2)>section:first-of-type>div>div:first-of-type>div>i:first-of-type{
    position: absolute;
    margin: auto;
    color: white;
    font-size: 90px;
    transform: rotate(-95rad);
    padding-top: 7px;
    padding-left: 5px;
}

main>section:nth-child(2)>section:first-of-type>div>div:nth-child(2) {
    font-family: 'Nunito', sans-serif;
    width: fit-content;
    height: fit-content;
    color: white;
    font-size: 28px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: auto;
}


main>section:nth-child(2)>section:first-of-type>div:nth-child(3)>div:first-of-type>div>i:first-of-type {
    position: absolute;
    margin: auto;
    color: white;
    font-size: 80px;
    transform: rotate(-95rad);
    padding-top: 2vh;
    padding-left: 1vw;
}

main>section:nth-child(2)>section:first-of-type>div:nth-child(2) {
    top: 125px;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(2)>section:first-of-type>div:nth-child(3) {
    top: 125px;
    right: 40px;
}

main>section:nth-child(2)>section:first-of-type>div:nth-child(4) {
    top: 475px;
    left: 40px;
}

main>section:nth-child(2)>section:first-of-type>div:nth-child(5) {
    top: 475px;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(2)>section:first-of-type>div:nth-child(6) {
    top: 475px;
    right: 40px;
}

/*-------------Skills--------------*/

main>section:nth-child(3) {
    left: 0;
    top: 320vh;
    position: absolute;
    width: 99vw;
    height: 500px;
    margin: 0;
}

main>section:nth-child(3)>div:nth-child(1) {
    position: absolute;
    width: 20px;
    height: 60px;
    background-color: #f44336;
}

main>section:nth-child(3)>div:nth-child(2) {
    position: absolute;
    left: 40px;
    width: 10px;
    height: 60px;
    background-color: #f44336;
}

main>section:nth-child(3)>div:nth-child(3) {
    width: 99vw;
    height: 60px;
    background: linear-gradient(rgba(97, 97, 97, 0.68),#232323);
}

main>section:nth-child(3)>div:nth-child(3)>p{
    top: 0;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    color: white;
    padding-left: 80px;
}

.skills {
    color: #ff5f20;
    font-size: 55px;
}

main>section:nth-child(3)>section:first-of-type {
    position: relative;
    height: 250vh;
    width: 85%;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(26, 26, 26, 0.95);
    border-radius: 8px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.89);
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(1) {
    top: 50px;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(1)>div:first-of-type {
    color: white;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50px;
    margin: auto;
    padding-top: 70px;
    font-weight: 600;
    font-size: 40px;
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(1)>div:nth-child(2) {
    position: absolute;
    width: 37%;
    height: 4px;
    background-color: #f44336;
    top: 95px;
    left: 0;
    margin: auto;
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(1)>div:nth-child(3) {
    position: absolute;
    width: 37%;
    height: 4px;
    background-color: #f44336;
    top: 95px;
    right: 0;
    margin: auto;
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(1)>div:nth-child(4) {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #f44336;
    top: 90px;
    left: 37%;
    margin: auto;
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(1)>div:nth-child(5) {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #f44336;
    top: 90px;
    right: 37%;
    margin: auto;
}

.lang>div:first-of-type {
    font-size: 35px;
    font-weight: bold;
    color: #e3be17;
    font-family: 'Nunito', sans-serif;
    position: absolute;
    left: 20px;
    top: 150px;
    width: fit-content;
    height: fit-content;
    line-height: 70px;
}

.lang>div:first-of-type>ul>li {
    transition: 0.5s;
    cursor: pointer;
}

.lang>div:first-of-type>ul>li:hover {
    color: white;
}

.lang>div:nth-child(2) {
    position: absolute;
    right: 10px;
}

.lang>div:nth-child(2)>div {
    width: 125px;
    height: 125px;
    position: absolute;
    background-color: white;
    border: 4px solid #01255a;
    border-radius: 100%;
    cursor: pointer;
}

.lang>div:nth-child(2)>div>img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    height: 95%;
}

.lang>div:nth-child(2)>div:nth-child(1) {
    top: 50px;
    right: 37vw;
}

.lang>div:nth-child(2)>div:nth-child(2) {
    top: 50px;
    right: 23vw;
}

.lang>div:nth-child(2)>div:nth-child(3) {
    top: 200px;
    right: 30vw;
}

.lang>div:nth-child(2)>div:nth-child(4) {
    top: 200px;
    right: 45vw;
}

.lang>div:nth-child(2)>div:nth-child(5) {
    top: 200px;
    right: 15vw;
}

.lang>div:nth-child(2)>div:nth-child(6) {
    top: 350px;
    right: 37vw;
}
.lang>div:nth-child(2)>div:nth-child(7) {
    top: 350px;
    right: 23vw;
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(3) {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: fit-content;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(3)>div:first-of-type {
    color: white;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50px;
    margin: auto;
    padding-top: 70px;
    font-weight: 600;
    font-size: 40px;
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(3)>div:nth-child(2) {
    position: absolute;
    width: 37%;
    height: 4px;
    background-color: #f44336;
    top: 95px;
    left: 0;
    margin: auto;
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(3)>div:nth-child(3) {
    position: absolute;
    width: 37%;
    height: 4px;
    background-color: #f44336;
    top: 95px;
    right: 0;
    margin: auto;
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(3)>div:nth-child(4) {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #f44336;
    top: 90px;
    left: 37%;
    margin: auto;
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(3)>div:nth-child(5) {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #f44336;
    top: 90px;
    right: 37%;
    margin: auto;
}

.tools>div:first-of-type {
    font-size: 35px;
    font-weight: bold;
    color: #e3be17;
    font-family: 'Nunito', sans-serif;
    position: absolute;
    left: 20px;
    top: 120vh;
    width: fit-content;
    height: fit-content;
    line-height: 60px;
}


.tools>div:first-of-type>ul>li {
    transition: 0.5s;
    cursor: pointer;
}

.tools>div:first-of-type>ul>li:hover {
    color: white;
}

.tools>div:nth-child(2) {
    position: absolute;
    right: 10px;
}

.tools>div:nth-child(2)>div {
    width: 125px;
    height: 125px;
    position: absolute;
    background-color: white;
    border: 4px solid #01255a;
    border-radius: 100%;
    cursor: pointer;
}

.tools>div:nth-child(2)>div>img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 90%;
}

.tools>div:nth-child(2)>div>img:nth-child(1) {
    width: 70%;
    height: 70%;
}


.tools>div:nth-child(2)>div:nth-child(1) {
    top: 110vh;
    right: 2vw;
}
.tools>div:nth-child(2)>div:nth-child(2) {
    top: 110vh;
    right: 14vw;
}
.tools>div:nth-child(2)>div:nth-child(3) {
    top: 110vh;
    right: 26vw;
}
.tools>div:nth-child(2)>div:nth-child(4) {
    top: 110vh;
    right: 38vw;
}

.tools>div:nth-child(2)>div:nth-child(5) {
    top: 135vh;
    right: 14vw;
}
.tools>div:nth-child(2)>div:nth-child(6) {
    top: 135vh;
    right: 26vw;
}
.tools>div:nth-child(2)>div:nth-child(7) {
    top: 135vh;
    right: 38vw;
}

.tools>div:nth-child(2)>div:nth-child(8) {
    top: 160vh;
    right: 26vw;
}
.tools>div:nth-child(2)>div:nth-child(9) {
    top: 160vh;
    right: 38vw;
}

/*--------------technologies---------------*/

main>section:nth-child(3)>section:first-of-type>div:nth-child(5) {
    position: absolute;
    top: 200vh;
    width: 100%;
    height: fit-content;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(5)>div:first-of-type {
    color: white;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50px;
    margin: auto;
    padding-top: 70px;
    font-weight: 600;
    font-size: 40px;
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(5)>div:nth-child(2) {
    position: absolute;
    width: 37%;
    height: 4px;
    background-color: #f44336;
    top: 95px;
    left: 0;
    margin: auto;
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(5)>div:nth-child(3) {
    position: absolute;
    width: 37%;
    height: 4px;
    background-color: #f44336;
    top: 95px;
    right: 0;
    margin: auto;
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(5)>div:nth-child(4) {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #f44336;
    top: 90px;
    left: 37%;
    margin: auto;
}

main>section:nth-child(3)>section:first-of-type>div:nth-child(5)>div:nth-child(5) {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #f44336;
    top: 90px;
    right: 37%;
    margin: auto;
}

.techno>div:first-of-type {
    font-size: 25px;
    font-weight: bold;
    color: #e3be17;
    font-family: 'Nunito', sans-serif;
    position: absolute;
    left: 20px;
    top: 220vh;
    width: fit-content;
    height: fit-content;
    line-height: 50px;
}

.techno>div:first-of-type>ul>li {
    transition: 0.5s;
    cursor: pointer;
}

.techno>div:first-of-type>ul>li:hover {
    color: white;
}

.techno>div:nth-child(2)>div {
    width: 125px;
    height: 125px;
    position: absolute;
    background-color: white;
    border: 4px solid #01255a;
    border-radius: 100%;
    cursor: pointer;
}

.techno>div:nth-child(2)>div>img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: 70%;
}

.techno>div:nth-child(2)>div:nth-child(1) {
    top: 223vh;
    right: 10vw;
}
.techno>div:nth-child(2)>div:nth-child(2) {
    top: 223vh;
    right: 24vw;
}

.techno>div:nth-child(2)>div:nth-child(3) {
    top: 223vh;
    right: 38vw;
}

/*---------------Education-----------------*/

main>section:nth-child(4) {
    left: 0;
    top: 600vh;
    position: absolute;
    width: 99vw;
    height: 500px;
    margin: 0;
}

main>section:nth-child(4)>div:nth-child(1) {
    position: absolute;
    width: 20px;
    height: 60px;
    background-color: #f44336;
}

main>section:nth-child(4)>div:nth-child(2) {
    position: absolute;
    left: 40px;
    width: 10px;
    height: 60px;
    background-color: #f44336;
}

main>section:nth-child(4)>div:nth-child(3) {
    width: 99vw;
    height: 60px;
    background: linear-gradient(rgba(97, 97, 97, 0.68),#232323);
}

main>section:nth-child(4)>div:nth-child(3)>p{
    top: 0;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    color: white;
    padding-left: 80px;
}

.edu {
    color: #ff5f20;
    font-size: 55px;
}

.education {
    position: relative;
    height: 160vh;
    width: 85%;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(26, 26, 26, 0.95);
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.89);
}

.education>div:nth-child(1) {
    position: absolute;
    top: 100px;
    right: 250px;
    width: fit-content;
    height: fit-content;
}

.education>div:nth-child(2) {
    position: absolute;
    top: 250px;
    right: 350px;
    width: fit-content;
    height: fit-content;
}

.education>div:nth-child(3) {
    position: absolute;
    top: 400px;
    right: 450px;
    width: fit-content;
    height: fit-content;
}

.education>div:nth-child(4) {
    position: absolute;
    top: 550px;
    right: 550px;
    width: fit-content;
    height: fit-content;
}

.education>div:nth-child(5) {
    position: absolute;
    top: 700px;
    right: 650px;
    width: fit-content;
    height: fit-content;
}

.education>div:nth-child(6) {
    position: absolute;
    top: 850px;
    right: 750px;
    width: fit-content;
    height: fit-content;
}

.education>div>div:first-of-type {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: white;
    border: 4px solid #a3020f;
    z-index: 1;
}

.education>div>div:nth-child(2) {
    position: absolute;
    right: -40px;
    top: 4px;
    width: 400px;
    height: 95px;
    background-color: #ff253a;
    border-radius: 12px;
}

.education>div>div:nth-child(2)>h3 {
    font-family: 'Poppins', sans-serif;
    color: white;
    top: 0;
    position: absolute;
    margin-top: 5px;
    margin-left: 20px;
}
.education>div>div:nth-child(2)>h4 {
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    margin-left: 50px;
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: white;
    line-height: 10px;
}

.education>div:nth-child(7){
    width: 4px;
    height: 90%;
    background-color: #f44336;
    position: absolute;
    right: 300px;
    top: 100px;
    transform: rotate(30deg);
}

.education>i:first-of-type {
    font-size: 25px;
    color: #f44336;
    position: absolute;
    right: 65px;
    top: 150px;
    transform: rotate(30deg);
}

/*------------My Works--------------*/

main>section:nth-child(5) {
    left: 0;
    top: 790vh;
    position: absolute;
    width: 99vw;
    height: 500px;
    margin: 0;
}

main>section:nth-child(5)>div:nth-child(1) {
    position: absolute;
    width: 20px;
    height: 60px;
    background-color: #f44336;
}

main>section:nth-child(5)>div:nth-child(2) {
    position: absolute;
    left: 40px;
    width: 10px;
    height: 60px;
    background-color: #f44336;
}

main>section:nth-child(5)>div:nth-child(3) {
    width: 99vw;
    height: 60px;
    background: linear-gradient(rgba(97, 97, 97, 0.68),#232323);
}

main>section:nth-child(5)>div:nth-child(3)>p{
    top: 0;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    color: white;
    padding-left: 80px;
}

.works {
    color: #ff5f20;
    font-size: 55px;
}

.my-works{
    position: relative;
    height: 90vh;
    width: 85%;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(26, 26, 26, 0.95);
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.89);
}

.my-works>div:nth-child(1) {
    width: 400px;
    height: 300px;
    border: 1px solid red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.my-works>div:nth-child(2) {
    width: 300px;
    height: 200px;
    border: 1px solid red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 300px;
    right: 0;
    margin: auto;
}

.my-works>div:nth-child(3) {
    width: 200px;
    height: 100px;
    border: 1px solid red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 600px;
    right: 0;
    margin: auto;
}

.my-works>div:nth-child(4) {
    width: 300px;
    height: 200px;
    border: 1px solid red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 300px;
    margin: auto;
}

.my-works>div:nth-child(5) {
    width: 200px;
    height: 100px;
    border: 1px solid red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 600px;
    margin: auto;
}