/*
* @Created by: Abhishek Ashinsa
* @Date: 23/08/2022
* @Project: My-Portfolio
* */

body {

}

header>video {
    width: 100vw;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 15px;
    padding-bottom: 10px;
}

header>img {
    width: 200px;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
    position: absolute;
}