/*
* @Created by: Abhishek Ashinsa
* @Date: 23/07/2022
* @Project: My-Portfolio
* */

*{
    padding: 0;
    margin: 0;
}

.body-style {
    background-color:   rgb(6,33,39);
    alignment: center;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.head-name {
    padding: 5px;
    text-align: center;
    color: rgb(255,245,1);
    letter-spacing: 6px;
    margin-left: 37%;
    margin-top: 10px;
    width: 20%;
    background-color: rgb(163, 71, 59);
    border-color: #ffffff;
    border-radius: 25px;
}

nav{
    display: flex;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    background: #2F345E;
}

.nav-links{
    flex: 1;
    text-align: center;
    overflow: auto;
    padding-top: 5px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 1px 35px;
    position: relative;
    font-size: 20px;
}

.head-back {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}