/*
* @Created by: Abhishek Ashinsa
* @Date: 29/08/2022
* @Project: My-Portfolio
* */

@media all and (min-width: 768px) and (max-width: 1024px){

    /*----------------header-------------*/
    header>div:first-of-type {
        height: 60px;
    }

    header>div:first-of-type>img:first-of-type {
        width: 139px;
        height: 36px;
    }

    header>div:first-of-type>nav:nth-child(4) {
        right: 20px;
    }

    header>div:first-of-type>nav:nth-child(4)>ul>li {
        padding: 7px;
    }

    header>div:first-of-type>nav:nth-child(4)>ul>li>a {
        font-size: 16px;
    }

    header>section:nth-child(2)>section:nth-child(2)>p:nth-child(1) {
        font-size: 33px;
        margin-left: 45px;
        margin-top: 80px;
    }

    header>section:nth-child(2)>section:nth-child(2)>p:nth-child(2) {
        font-size: 42px;
        border: 0;
        margin-left: 45px;
        margin-bottom: 22px;
    }

    header>section:nth-child(2)>section:nth-child(2)>p:nth-child(3) {
        font-size: 32px;
        margin-left: 45px;
    }

    header>section:nth-child(2)>section:nth-child(2)>p:nth-child(4) {
        margin-left: 45px;
        font-size: 18px;
    }

    header>section:nth-child(2)>section:nth-child(2)>a:nth-child(6) {
        font-size: 20px;
        margin-left: 115px;
        width: 100px;
    }

    header>section:first-of-type>section:nth-child(3) {
        bottom: 40px;
        right: 90px;
    }

    header>section:first-of-type>section:last-of-type>a>div {
        width: 90px;
        height: 90px;
    }

    .chatbot {
        width: 68px;
        height: 68px;
    }

    .chatbot>img {
        width: 50px;
    }

    /*--------------about-me----------------*/

    main>section:nth-child(1)>div:nth-child(3) {
        height: 50px;
    }

    main>section:nth-child(1)>div:nth-child(1) {
        width: 16px;
        height: 50px;
    }

    main>section:nth-child(1)>div:nth-child(2) {
        left: 30px;
        height: 50px;
        width: 7px;
    }

    .about-me {
        font-size: 45px;
    }

    main>section:nth-child(1)>div:nth-child(3)>p {
        font-size: 34px;
        margin-left: 0px;
    }

    main>section:nth-child(1)>section:first-of-type {
        top: 100px;
        height: 350px;
        bottom: 28px;
    }

    main>section:nth-child(1)>section:first-of-type>p:first-of-type {
        font-size: 32px;
    }

    main>section:nth-child(1)>section:first-of-type>div:first-of-type {
        font-size: 19px;
        top: 24%;
        width: 55%;
    }

    main>section:nth-child(1)>section:first-of-type>div:nth-child(5) {
        font-size: 19px;
        right: 78px;
    }

    main>section:nth-child(1)>div:last-of-type {
        height: 330px;
        top: 97px;
        left: 589px;
    }

    main>section:nth-child(1)>div:nth-child(5) {
        top: 114px;
        left: 619px;
        font-size: 17px;
        line-height: 42px;
        width: 314px;
        height: 155px;
    }

    .about-me {
        width: 220px;
        height: 42px;
        right: 50px;
        bottom: 20px;
        font-size: 45px;
    }

    .download-cv:hover {
        transition-property: width,height,border;
        border-color: #f44336;
        width: 221px;
        height: 43px;
    }

    main>section:nth-child(1)>section:first-of-type>div:nth-child(6)>a:first-of-type>div>img {
        width: 165px;
        height: 42px;
    }

    main>section:nth-child(1)>section:first-of-type>div:nth-child(6)>a:nth-child(2)>div {
        width: 50px;
        height: 42px;
    }

    main>section:nth-child(1)>section:first-of-type>div:nth-child(6)>a:nth-child(2)>div>img {
        width: 50px;
        height: 40px;
    }

    main>section:nth-child(1)>section:first-of-type>div:nth-child(6)>a:first-of-type>div {
        width: 167px;
        height: 42px;
    }

    .download-cv {
        height: 42px;
        width: 221px;
        bottom: 23px;
        right: 50px;
    }

    /*-------------services--------------*/

    main>section:nth-child(2)>div:nth-child(3) {
        height: 50px;
    }

    main>section:nth-child(2)>div:nth-child(1) {
        width: 16px;
        height: 50px;
    }

    main>section:nth-child(2)>div:nth-child(2){
        left: 30px;
        height: 50px;
        width: 7px;
    }

    .services {
        width: 220px;
        height: 42px;
        right: 50px;
        bottom: 20px;
        font-size: 45px;
    }

    main>section:nth-child(2)>div:nth-child(3)>p {
        font-size: 34px;
        margin-left: 0px;
    }

    main>section:nth-child(2)>section:first-of-type>div {
        width: 299px;
        height: 250px;
    }

    main>section:nth-child(2)>section:first-of-type>div:nth-child(1),main>section:nth-child(2)>section:first-of-type>div:nth-child(2),main>section:nth-child(2)>section:first-of-type>div:nth-child(3) {
        top: 108px;
    }

    main>section:nth-child(2)>section:first-of-type>div:nth-child(1) {
        left: 35px;
    }
    main>section:nth-child(2)>section:first-of-type>div:nth-child(3) {
        right: 35px;
    }

    main>section:nth-child(2)>section:first-of-type>div>div:nth-child(1) {
        width: 84px;
        height: 84px;
        top: 32px;
    }

    main>section:nth-child(2)>section:first-of-type>div>div:first-of-type>div>i:first-of-type {
        font-size: 67px;
        padding-top: 10px;
    }

    main>section:nth-child(2)>section:first-of-type>div>div:nth-child(2) {
        font-size: 23px;
        bottom: 45px;
    }

    main>section:nth-child(2)>section:first-of-type>div:nth-child(4) {
        top: 400px;
        left: 35px;
    }
    main>section:nth-child(2)>section:first-of-type>div:nth-child(5) {
        top: 400px;
    }
    main>section:nth-child(2)>section:first-of-type>div:nth-child(6) {
        top: 400px;
        right: 35px;
    }

    main>section:nth-child(2)>section:first-of-type>div:nth-child(3)>div:first-of-type>div>i:first-of-type {
        font-size: 65px;
        padding-top: 3vh;
        padding-left: 15px;
    }

    /*-------------skills-----------------*/

    main>section:nth-child(3) {
        top: 318vh;
    }

    main>section:nth-child(3)>section:first-of-type {
        top: 50px;
        height: 258vh;
    }

    main>section:nth-child(3)>div:nth-child(3) {
        height: 50px;
    }

    main>section:nth-child(3)>div:nth-child(1) {
        width: 16px;
        height: 50px;
    }

    main>section:nth-child(3)>div:nth-child(2) {
        width: 7px;
        left: 30px;
        height: 50px;
    }

    main>section:nth-child(3)>div:nth-child(3)>p {
        font-size: 34px;
        margin-left: 0px;
        padding-left: 75px;
    }

    .skills {
        width: 220px;
        height: 42px;
        right: 50px;
        bottom: 20px;
        font-size: 45px;
    }

    main>section:nth-child(3)>section:first-of-type>div:nth-child(1)>div:first-of-type {
        font-size: 35px;
    }

    main>section:nth-child(3)>section:first-of-type>div:nth-child(1)>div:nth-child(2) {
        top: 90px;
        height: 2px;
    }

    main>section:nth-child(3)>section:first-of-type>div:nth-child(1)>div:nth-child(3) {
        top: 90px;
        height: 2px;
    }

    main>section:nth-child(3)>section:first-of-type>div:nth-child(1)>div:nth-child(4) {
        top: 85px;
        width: 12px;
        height: 12px;
    }

    main>section:nth-child(3)>section:first-of-type>div:nth-child(1)>div:nth-child(5) {
        top: 85px;
        height: 12px;
        width: 12px;
    }

    .lang>div:first-of-type {
        top: 120px;
        font-size: 28px;
        left: 30px;
        line-height: 60px;
    }

    .lang>div:nth-child(2) {
        right: -100px;
        top: 122px;
    }

    main>section:nth-child(3)>section:first-of-type>div:nth-child(3) {
        top: 102vh;
    }

    main>section:nth-child(3)>section:first-of-type>div:nth-child(3)>div:first-of-type {
        padding-top: 75px;
        font-size: 35px;
    }

    .lang>div:nth-child(2)>div {
        width: 100px;
        height: 100px;
    }

    main>section:nth-child(3)>section:first-of-type>div:nth-child(3)>div:nth-child(2) {
        top: 97px;
        height: 2px;
    }

    main>section:nth-child(3)>section:first-of-type>div:nth-child(3)>div:nth-child(3) {
        top: 97px;
        height: 2px;
    }

    main>section:nth-child(3)>section:first-of-type>div:nth-child(3)>div:nth-child(4) {
        width: 12px;
        height: 12px;
        top: 92px;
    }

    main>section:nth-child(3)>section:first-of-type>div:nth-child(3)>div:nth-child(5) {
        width: 12px;
        height: 12px;
        top: 92px;
    }

    .tools>div:first-of-type {
        top: 122vh;
        font-size: 28px;
        left: 30px;
        line-height: 50px;
    }

    .tools>div:nth-child(2) {
        right: 0;
        top: 120px;
    }

    .tools>div:nth-child(2)>div {
        width: 100px;
        height: 100px;
    }

    main>section:nth-child(3)>section:first-of-type>div:nth-child(5)>div:first-of-type {
        padding-top: 78px;
        font-size: 35px;
    }

    main>section:nth-child(3)>section:first-of-type>div:nth-child(5)>div:nth-child(2) {
        top: 98px;
        width: 36%;
        height: 2px;
    }

    main>section:nth-child(3)>section:first-of-type>div:nth-child(5)>div:nth-child(3) {
        top: 98px;
        width: 36%;
        height: 2px;
    }

    main>section:nth-child(3)>section:first-of-type>div:nth-child(5)>div:nth-child(4) {
        width: 12px;
        height: 12px;
        left: 36%;
        top: 93px;
    }

    main>section:nth-child(3)>section:first-of-type>div:nth-child(5)>div:nth-child(5) {
        width: 12px;
        height: 12px;
        right: 36%;
        top: 93px;
    }

    .techno>div:first-of-type {
        top: 222vh;
        font-size: 28px;
        left: 30px;
        line-height: 47px;
    }

    .techno>div:nth-child(2)>div {
        width: 100px;
        height: 100px;
    }

    .techno>div:nth-child(2)>div:nth-child(1) {
        top: 230vh;
        right: 6vw;
    }

    .techno>div:nth-child(2)>div:nth-child(2) {
        top: 230vh;
        right: 20vw;
    }

    .techno>div:nth-child(2)>div:nth-child(3) {
        top: 230vh;
        right: 34vw;
    }

    /*------------education---------------*/

    main>section:nth-child(4) {
        top: 603vh;
    }

    main>section:nth-child(4)>div:nth-child(3) {
        height: 50px;
    }

    main>section:nth-child(4)>div:nth-child(1) {
        width: 16px;
        height: 50px;
    }

    main>section:nth-child(4)>div:nth-child(2) {
        width: 7px;
        left: 30px;
        height: 50px;
    }

    main>section:nth-child(4)>div:nth-child(3)>p {
        font-size: 34px;
        margin-left: 0px;
        padding-left: 75px;
    }

    .edu {
        width: 220px;
        height: 42px;
        right: 50px;
        bottom: 20px;
        font-size: 45px;
    }

    .education {
        top: 45px;
        height: 158vh;
    }

    .education>div:nth-child(1) {
        top: 50px;
        right: 175px;
    }

    .education>div>div:first-of-type {
        width: 85px;
        height: 85px;
        border: 3px solid #a3020f;
    }

    .education>div:nth-child(1)>div:first-of-type>img {
        width: 83px;
        height: 25px;
    }

    .education>div>div:nth-child(2) {
        top: 7px;
        height: 75px;
        width: 365px;
    }

    .education>div>div:nth-child(2)>h3 {
        font-size: 17px;
        top: 3px;
    }

    .education>div>div:nth-child(2)>h4 {
        margin-top: 37px;
        font-size: 15px;
    }

    .education>div:nth-child(2) {
        top: 175px;
        right: 225px;
    }

    .education>div:nth-child(3) {
        top: 300px;
        right: 275px;
    }

    .education>div:nth-child(4) {
        top: 425px;
        right: 325px;
    }

    .education>div:nth-child(5) {
        top: 550px;
        right: 375px;
    }

    .education>div:nth-child(6) {
        top: 675px;
        right: 425px;
    }

    .education>div:nth-child(7) {
        width: 2px;
        top: 65px;
        right: 40px;
    }

    .education>i:first-of-type {
        top: 55px;
        font-size: 22px;
        right: 33px;
    }

    .education>div:nth-child(9) {
        top: 100px;
        height: 2px;
        width: 30px;
        left: 790px;
    }

    .education>div:nth-child(10) {
        height: 2px;
        width: 75px;
        top: 220px;
        left: 745px;
    }

    .education>div:nth-child(11) {
        left: 700px;
        height: 2px;
        top: 345px;
        width: 120px;
    }

    .education>div:nth-child(12) {
        height: 2px;
        width: 165px;
        left: 655px;
        top: 465px;
    }

    .education>div:nth-child(13) {
        height: 2px;
        width: 210px;
        top: 590px;
        left: 610px;
    }

    .education>div:nth-child(14) {
        height: 2px;
        width: 255px;
        top: 720px;
        left: 565px;
    }
    .education>i:nth-child(15) {
        font-size: 20px;
        top: 80px;
        left: 787px;
    }

    .education>i:nth-child(16) {
        font-size: 20px;
        top: 201px;
        left: 725px;
    }

    .education>i:nth-child(17) {
        font-size: 20px;
        top: 328px;
        left: 665px;
    }

    .education>i:nth-child(18) {
        font-size: 20px;
        top: 450px;
        left: 602px;
    }

    .education>i:nth-child(19) {
        font-size: 20px;
        top: 577px;
        left: 540px;
    }

    .education>i:nth-child(20) {
        font-size: 20px;
        top: 710px;
        left: 480px;
    }

    .education>div:nth-child(21),.education>div:nth-child(22),.education>div:nth-child(23),.education>div:nth-child(24),.education>div:nth-child(25),.education>div:nth-child(26) {
        width: 10px;
        height: 10px;
        left: 816px;
    }

    .education>div:nth-child(21) {
        top: 62px;
    }

    .education>div:nth-child(22) {
        top: 175px;
    }

    .education>div:nth-child(23) {
        top: 292px;
    }

    .education>div:nth-child(24) {
        top: 403px;
    }

    .education>div:nth-child(25) {
        top: 520px;
    }

    .education>div:nth-child(26) {
        top: 642px;
    }
}