/*
* @Created by: Abhishek Ashinsa
* @Date: 29/08/2022
* @Project: My-Portfolio
* */

@media all and (min-width: 768px) and (max-width: 1024px){

    /*----------------header-------------*/
    header>div:first-of-type {
        height: 60px;
    }

    header>div:first-of-type>img:first-of-type {
        width: 139px;
        height: 36px;
    }

    header>div:first-of-type>nav:nth-child(4) {
        right: 20px;
    }

    header>div:first-of-type>nav:nth-child(4)>ul>li {
        padding: 7px;
    }

    header>div:first-of-type>nav:nth-child(4)>ul>li>a {
        font-size: 16px;
    }

    header>section:nth-child(2)>section:nth-child(2)>p:nth-child(1) {
        font-size: 33px;
        margin-left: 45px;
        margin-top: 80px;
    }

    header>section:nth-child(2)>section:nth-child(2)>p:nth-child(2) {
        font-size: 42px;
        border: 0;
        margin-left: 45px;
        margin-bottom: 22px;
    }

    header>section:nth-child(2)>section:nth-child(2)>p:nth-child(3) {
        font-size: 32px;
        margin-left: 45px;
    }

    header>section:nth-child(2)>section:nth-child(2)>p:nth-child(4) {
        margin-left: 45px;
        font-size: 18px;
    }

    header>section:nth-child(2)>section:nth-child(2)>a:nth-child(6) {
        font-size: 20px;
        margin-left: 115px;
        width: 100px;
    }

    header>section:first-of-type>section:nth-child(3) {
        bottom: 40px;
        right: 90px;
    }

    header>section:first-of-type>section:last-of-type>a>div {
        width: 90px;
        height: 90px;
    }

    .chatbot {
        width: 68px;
        height: 68px;
    }

    .chatbot>img {
        width: 50px;
    }

    /*--------------about-me----------------*/

    main>section:nth-child(1)>div:nth-child(3) {
        height: 50px;
    }

    main>section:nth-child(1)>div:nth-child(1) {
        width: 16px;
        height: 50px;
    }

    main>section:nth-child(1)>div:nth-child(2) {
        left: 30px;
        height: 50px;
        width: 7px;
    }

    .about-me {
        font-size: 50px;
    }

    main>section:nth-child(1)>div:nth-child(3)>p {
        font-size: 34px;
        margin-left: 64px;
    }

    main>section:nth-child(1)>section:first-of-type {
        top: 100px;
        height: 350px;
    }

    main>section:nth-child(1)>section:first-of-type>p:first-of-type {
        font-size: 32px;
    }

    main>section:nth-child(1)>section:first-of-type>div:first-of-type {
        font-size: 24px;
        top: 24%;
        width: 55%;
    }

    main>section:nth-child(1)>section:first-of-type>div:nth-child(5) {
        font-size: 20px;
    }
}