/*
* @Created by: Abhishek Ashinsa
* @Date: 13/11/2022
* @Project: My-Portfolio
* */

body {
    background-color: #010a26;
}

video:nth-child(1) {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
}

div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 60px;
}

div:nth-child(2)>img {
    width: 100%;
    height: 100%;
}

main>div:nth-child(1) {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}