/*
* @Created by: Abhishek Ashinsa
* @Date: 03/10/2022
* @Project: My-Portfolio
* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider {
    position: absolute;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s  ;
}